.bm-overlay {
  background: rgb(255, 0, 128) !important;
  /* display: none;*/
  z-index: 1;
}

#burger-menu {
  width: 20%;
}

.bm-menu {
  padding: 10em 0;
}

.bm-cross-button {
  right: 10px;
  top: 10px;
}

.bm-cross-button span {
  background: white;
}

.bm-cross-button button {
  left: unset;
  top: 10px;
  right: 10px;
} 

.menu-item {
  color: black;
  text-align: left;
  font-size: 16px;
  padding-bottom: 7px;
  padding-left: 50px;  
}

.menu-item:hover {
  color: white;
  text-decoration: none;
}


.bm-burger-button {
  color: pink;
}

.bm-burger-bars {
  background: pink;
  width: 50px;
}

.bm-burger-button {
  position: fixed;
  left: 50px;
  height: 25px;
  right: 50px;
  top: 50px;
}

#sign-in {
  margin-top: 10px;
}

.form-group {
  margin-left: 50px;
  margin-top: 20px;
}

